/* telaAgendamento.css */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Slab:wght@100..900&display=swap');


.mentor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mentor-container h2 {
    color: #000000;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
}

.mentor-cards {
    display: flex;
    justify-content: center;
    /* Alinhando os cards ao centro horizontalmente */
    gap: 20px;
    /* Espaço entre os cards */

}

.mentor-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative; /* Certifique-se de que os cartões estejam no contexto correto */
    z-index: 1; /* Valor padrão para os cartões */
}

.mentor-card:hover {
    z-index: 5; /* Um valor menor que o do header para não cobrir o cabeçalho */
    transform: translateY(-5px);
}

.mentor-card img {
    width: 100%;
    height: auto;
}

.mentor-info {
    padding: 15px;

}


.mentor-info h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.mentor-info p {
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
    font-family: 'Roboto Slab', serif;
}

.agendar-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #00356d;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.agendar-button:hover {
    background-color: #00509d;
}

.hour-select {
    margin-top: 20px;
  }
  
  .hour-select label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .hour-select select {
    width: 123px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  /* Estilo para as opções do select */
  .hour-select select option {
    padding: 8px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
  }
  
  /* Estilo quando o select estiver em foco */
  .hour-select select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }


  /* Responsividade */
/* Responsividade para telas menores que 480px */
@media screen and (max-width: 480px) {
    .mentor-container h2 {
        font-size: 24px; /* Reduz o tamanho do título */
        margin-bottom: 20px; /* Reduz a margem inferior do título */
        margin-top: 20%; /* Reduz a margem superior do título */
    }

    .mentor-cards {
        flex-direction: row; /* Altera a direção dos cards para horizontal */
        flex-wrap: wrap; /* Permite que os cards quebrem em linhas */
        justify-content: space-between; /* Distribui os cards uniformemente */
        gap: 20px; /* Espaço entre os cards */
    }

    .mentor-card {
        width: calc(50% - 20px); /* Define a largura dos cards para ocupar toda a largura disponível, com margens */
        
    }
    
    .mentor-info {
        padding: 10px; /* Reduz o preenchimento do conteúdo do card */
    }

    .mentor-info h3 {
        font-size: 18px; /* Reduz o tamanho do título do mentor */
        margin-bottom: 5px; /* Reduz a margem inferior do título */
    }

    .mentor-info p {
        font-size: 16px; /* Reduz o tamanho do texto do mentor */
    }

    .agendar-button {
        margin-top: 20px; /* Reduz a margem superior do botão de agendar */
        font-size: 14px; /* Reduz o tamanho do texto do botão de agendar */
        width: 70%;
        margin-left: 60px;
        margin-bottom: 20px;
    }

    .hour-select {
        margin-top: 20px; /* Reduz a margem superior do seletor de horário */
        margin-left: 100px;
    }

    .hour-select select {
        width: 50%; /* Define a largura do seletor de horário para ocupar toda a largura disponível */
    
    }

}

@media screen and (min-width: 769px) and (max-width: 1444px) {
    .mentor-card {
        width: 350px;
    }

    .mentor-container h2 {
        margin-bottom: 100px;
        margin-top: 400px;
    }
}

@media screen and (min-width: 1445px) {
    .mentor-card {
        width: 300px;
    }
}
